.button {
  cursor: pointer;
  background: transparent;
  color: var(--c-text-color);
  border-radius: 99px;
  display: flex;
  align-items: center;
  transition: var(--fade);

  &:hover {
    background-color: var(--c-theme-op-20);
    color: var(--c-theme);
  }
}
